@import "tailwindcss";

:root {
  --bg-main: #0b0b0c;
  --bg-surface: #121214;
  --text-main: #f4f4f2;
  --text-muted: #a1a1aa;
  --gold: #b08d57;
  --gold-soft: #6b5736;
}

body {
  background: var(--bg-main);
  color: var(--text-main);
}
